<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/css/vendor.min.css" />
    <script src="/js/vendor.min.js"></script>

    @*<style>
        .demo-layout-transparent {
          background: url('../assets/demos/transparent.jpg') center;
        }
        .demo-layout-transparent .mdl-layout__header,
        .demo-layout-transparent .mdl-layout__drawer-button {
          color: white;
        }
    </style>*@

</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Simple CRM</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="/">Customers</a>
                    <a class="mdl-navigation__link" asp-action="Create" asp-controller="Home">Create</a>
                    @await Component.InvokeAsync("LoginLogout")
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Simple CRM</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/">Customers</a>
                <a class="mdl-navigation__link" asp-action="Create" asp-controller="Home">Create</a>
                @await Component.InvokeAsync("LoginLogout")
            </nav>
        </div>

        <main class="mdl-layout__content">

        </main>

        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                @await Component.InvokeAsync("Greeting")
            </div>
            <div class="mdl-mini-footer__right-section">
                <ul class="mdl-mini-foter__link-list">
                    <li><a href="#">&copy; @DateTime.Now.Year</a></li>
                    <li><a href="#">SimpleCrm Sample Corp.</a></li>
                    @RenderSection("footer", required: false)
                </ul>
            </div>
        </footer>
    </div>







    <!-- Old layout-->
    <div>
        @await Component.InvokeAsync("LoginLogout")
    </div>
    <div>
        @RenderBody()
    </div>
    <footer>
        @*@RenderSection("footer", required: false)*@

        @await Component.InvokeAsync("Greeting");
        &copy; @DateTime.Now.Year SimpleCrm Sample Corp.
    </footer>
</body>
</html>
