@using SimpleCrm
@model CustomerEditViewModel
@{
    ViewBag.Title = "Create";
}


<div>
    <h1>Create</h1>

    <div>
        @*@Html.ValidationSummary()*@

        @using (Html.BeginForm())
        {
            <div>
                @Html.LabelFor(m => m.FirstName)
                @Html.EditorFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
            <div>
                @Html.LabelFor(m => m.LastName)
                @Html.EditorFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
            <div>
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.EditorFor(m => m.PhoneNumber)
                @Html.ValidationMessageFor(m => m.PhoneNumber)
            </div>
            <div>
                @Html.LabelFor(m => m.OptInNewsletter)
                @Html.CheckBoxFor(m => m.OptInNewsletter)
            </div>
            <div>
                @Html.LabelFor(m => m.Type)
                @Html.DropDownListFor(m => m.Type, Html.GetEnumSelectList(typeof(CustomerType)))
            </div>
            <button type="submit">Save</button>
        }
    </div>
</div>
