@using SimpleCrm.Web.Controllers
@model SimpleCrm.Web.Models.HomePageViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "_Layout";
}


<h1>Customers</h1>
<table>
    @foreach (var item in Model.Customers)
    {
        <tr>
            <td>
                <a href="/home/details/@item.Id">Details</a>
                @Html.ActionLink("View", nameof(HomeController.Details), new { id = item.Id })
            </td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.PhoneNumber</td>
        </tr>
    }
</table>
@section footer {
    <p>
        @Model.CurrentMessage
    </p>
}