@model HomePageViewModel
@{
    ViewBag.Title = "Customers";
}


<h1>Customers</h1>
<table>
    @foreach (var customer in Model.Customers)
    {
        <!--<tr>
            <td>@customer.FirstName</td>
            <td>@customer.LastName</td>
            <td>@customer.PhoneNumber</td>
            <td>-->
        @*<a href="/home/details/@item.Id">Details</a>
            @Html.ActionLink("View", nameof(HomeController.Details), new { id = item.Id })*@

        <!--<a asp-action="Details" asp-route-id="@customer.Id">Details</a>
                <a asp-action="Edit" asp-route-id="@customer.Id">Edit</a>
            </tdcustomer
        </tr>-->
        <partial name="_Summary" model="customer" />
    }
</table>
<a asp-controller="Home" asp-action="Create">Create</a>

@*@section footer {
    <p>
        @Model.CurrentMessage
    </p>
}*@