@model HomePageViewModel
@{
    ViewBag.Title = "Customers";
}


<h1>Customers</h1>
<table>
    @foreach (var item in Model.Customers)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.PhoneNumber</td>
            <td>
                @*<a href="/home/details/@item.Id">Details</a>
                @Html.ActionLink("View", nameof(HomeController.Details), new { id = item.Id })*@

                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
    }
</table>
<a asp-action="Create">Create</a>

@section footer {
    <p>
        @Model.CurrentMessage
    </p>
}