@model SimpleCrm.Web.Models.CustomerModel
@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Simple CRM</title>
</head>
<body>
    <h1>Hello, @Model.FirstName @Model.LastName !</h1>
    <div>
        <h2>Your contact information</h2>
        <p>and little things about you!</p>
        <ul>
            <li>Phone Number: @Model.PhoneNumber</li>
            <li>Email: @Model.Email</li>
            <li>Favorite Season: @Model.FavoriteSeason</li>
            <li>Favorite Flower: @Model.FavoriteFlower</li>
        </ul>
    </div>
</body>
</html>