@model SimpleCrm.Web.Models.HomePageViewModel


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Simple CRM</title>
</head>
<body>
    <h1>Customers</h1>
    <p>
        @Model.CurrentMessage
    </p>
    <table>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.PhoneNumber</td>
            </tr>
        }
    </table>
</body>
</html>